body{
  background: #faebd7;  
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
}

#container{
  margin-top: 3%;
  display: inline-block;
  overflow: hidden;
}

canvas{ 
  border: 1px solid #005b96;
  background-image: url('assets/background.jpg'); 
}
